<div class="row">
  <div class="col s4">
    <%= form_for(@profile) do |f| %>
      <% if @profile.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.label :nicname, 'ニックネーム' %>
        <%= f.text_field :nicname  %>

      <div class="input-field">
        <select>
          <option><%= f.radio_button :public, "公開" %> 公開</option>
          <option><%= f.radio_button :public, "非公開" %> 非公開</option>
          <option value="" disabled selected>Choose your option</option>
        </select>
        <%= f.label :public, '公開設定' %>
      </div>


        <%= f.label :height, '身長' %>
        <%= f.text_field :height %>

      <%= f.label :start_weight, '開始時の体重' %>
        <%= f.text_field :start_weight %>

      <label>性別</label>
      <select class="browser-default">
        <option value="" disabled selected>選択してください</option>
        <option value="男"><%= f.radio_button :public, "男" %> 男</option>
        <option value="女"><%= f.radio_button :public, "女" %> </option>
      </select>

      <%= f.label :age, '年齢' %>
        <%= f.text_field :age %>

        <%= f.label :message, '一言メッセージ' %>
        <%= f.text_field :message %>

      <%= f.submit '投稿', class: 'btn btn-primary' %>
      <%= link_to 'キャンセル', root_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
