<div class="card">
  <% if !@profile.nil? %>

  <div class="card-title">
    <h3><%= @profile.nicname %></h3>
  </div>
  <div class="card-image">
    <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
  </div>

  <div class="card-content">
    <table class="responsive-table">
      <tr>
        <th>ニックネーム</th>
        <td><%= @profile.nicname %></td>
      </tr>
      <tr>
        <th>公開設定</th>
        <td><%= @profile.public %></td>
      </tr>
      <tr>
        <th>身長</th>
        <td><%= @profile.height %> cm</td>
      </tr>
      <tr>
        <th>開始時の体重</th>
        <td><%= @profile.start_weight %> kg</td>
      </tr>
      <tr>
        <th>性別</th>
        <td><%= @profile.sex %></td>
      </tr>
      <tr>
        <th>年齢</th>
        <td><%= @profile.age %></td>
      </tr>
      <tr>
        <th>一言メッセージ</th>
        <td><%= @profile.message %></td>
      </tr>
    </table>
  </div>
  <div class="card-action">
    <% if user_signed_in? %>
      <%= link_to 'プロフィール編集', edit_profile_path(@profile), data: {turbolinks: false} %>
      <% if mastodon_connected? %>
        <%= link_to 'マストドン連携解除', current_user.weightodon,
                    method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
      <% else %>
        <%= link_to 'マストドン連携', new_weightodon_path %>
      <% end %>
      <%= link_to 'トークン発行', current_user.profile ,
                  method: :delete, data: { confirm: '既存のトークンは破棄され、新しいトークンを生成します。' } %>
    <% end %>
  <% end %>
  </div>
</div>
