<div class="row">
  <div class="col s4">
  <%= form_for(weight) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <%= f.label :value, '体重' %>
      <%= f.text_field :value, class: 'form-control' ,:autocomplete => :off%>

      <%= f.label :date, '日時' %>
      <%= f.datetime_field :date, value: Time.now.strftime("%Y-%m-%dT%H:%M") %>

      <%= f.submit '投稿', class: 'waves-effect waves-light btn orange' %>
      <%= link_to 'キャンセル', root_path, class: 'waves-effect waves-light btn grey' %>
  <% end %>
  </div>
</div>
