<div class="row">
  <aside class="col s4">
    <%= render :template => 'profiles/show' %>
    <% if user_signed_in? %>
      <%= render :template => 'weightodons/show' %>
    <% else %>
      <% if @account %>
        マストドンもフォローしてね！ <a href="<%= @account.url %>" target="_blank">@<%= @account.username %></a>
      <% end %>
    <% end%>
  </aside>
  <div class="col s8">
    <br/>
    <% if user_signed_in? %>
      <%= link_to '体重投稿', new_weight_path ,class: 'waves-effect waves-light btn-large orange'%>
    <% end %>
    <ul class="tabs">
      <% if user_signed_in? %>
        <li class="tab col s3"><%= link_to '7days', root_path(duration: "week") %></li>
        <li class="tab col s3"><%= link_to '30days', root_path(duration: "month") %></li>
        <li class="tab col s3"><%= link_to '90days', root_path(duration: "3month") %></li>
        <li class="tab col s3"><%= link_to 'All', root_path(duration: "all") %></li>
      <% else %>
        <li class="tab col s3"><%= link_to '7days', toppages_path(id: @profile.user_id, duration: "week") %></li>
        <li class="tab col s3"><%= link_to '30days', toppages_path(id: @profile.user_id, duration: "month") %></li>
        <li class="tab col s3"><%= link_to '90days', toppages_path(id: @profile.user_id, duration: "3month") %></li>
        <li class="tab col s3"><%= link_to 'All', toppages_path(id: @profile.user_id, duration: "all") %></li>
      <% end %>
    </ul>

    <%= render 'graph' %>
    <table class="striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <% if user_signed_in? %>
          <th>Action</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @weights.each do |weight| %>
        <tr>
          <td><%= weight.date.strftime('%Y-%m-%d %H:%M') %></td>
          <td><%= weight.value %> kg</td>
          <% if user_signed_in? %>
            <td>
              <i class="tiny material-icons">edit</i>
              <%= link_to '編集', edit_weight_path(weight) %>
              <i class="tiny material-icons">delete</i>
              <%= link_to '削除', weight, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @weights %>
  </div>
</div>
