<% if user_signed_in? %>
  <div class="row">
    <aside class="col-xs-4">
      <%= render :template => 'profiles/show' %>
    </aside>
    <div class="col-xs-8">
      <%= link_to '体重投稿', new_weight_path ,class: 'btn btn-primary'%>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Date</th>
          <th>Weight</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <% @weights.each do |weight| %>
            <tr>
              <td><%= weight.created_at.strftime('%Y-%m-%d %H:%m') %></td>
              <td><%= weight.value %> kg</td>
              <td><%= link_to '編集', edit_weight_path(weight), class: 'label label-warning' %>
                  <%= link_to '削除', weight, class: 'label label-danger',
                              method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
            </tr>
          <% end %>
          <%= paginate @weights %>

        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the 体重どん</h1>
      <%= link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>