<h3>マストドン連携</h3>

<div class="row">
  <div class="col s6">
    <%= form_for(@weightodon) do |f| %>
      <p></p>
      <p>1. access_token を取得します。
        <a href="https://takahashim.github.io/mastodon-access-token/" target="_blank">ココから</a></p>
      <ul class="collection">
        <li class="collection-item">Mastodon URL: https://weightodon.site</li>
        <li class="collection-item">Client Name: weightodon</li>
        <li class="collection-item">Web site: [空白]</li>
        <li class="collection-item">Scopes: read write follow</li>
      </ul>
      <%= image-url("/access_token_generator_for_mastodon_api.png") %>
      <p>2. 取得した access_token 入力します。</p>
      <%= f.label :access_token, 'access_token' %>
      <%= f.text_field :access_token %>

      <%= f.submit '連携', class: 'waves-effect waves-light btn orange' %>
      <%= link_to 'キャンセル', root_path, class: 'waves-effect waves-light btn grey' %>
    <% end %>
  </div>
</div>
