<% if mastodon_connected? %>
  <script>
      $(document).ready(function() {
// jQUERY is required!
          var mapi = new MastodonApi({
              target_selector  : '#myTimeline'
              ,instance_uri    : 'https://weightodon.site'
              ,access_token    : '<%= @weightodon.access_token %>'
              ,account_id      : '<%= @account.id if @account%>'
          });
      });
  </script>

  <div id="myTimeline" class="mastodon-timeline mastodon-timeline-light"></div>

  <%= form_for(@weightodon) do |f| %>
    <%= f.text_field :client_secret %>
    <%= f.submit 'Toot', class: 'waves-effect waves-light btn-small light-blue right' %>
  <% end %>

<% end %>