<% if mastodon_connected? %>
  <script>
      $(document).ready(function() {
// jQUERY is required!
          var mapi = new MastodonApi({
              target_selector  : '#myTimeline'
              ,instance_uri    : 'https://weightodon.site'
              ,access_token    : '<%= @weightodon.access_token %>'
              ,account_id      : '<%= @account.id if @account%>'
          });
      });
  </script>

  <div id="myTimeline" class="mastodon-timeline mastodon-timeline-light"></div>

  <div class="input-field" >
  <%= form_for(@weightodon) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <label>やせたい気持ちを入力</label>
    　 <%= f.text_field :client_secret, :autocomplete => :off %>
      <%= button_tag :type => "submit", class: "waves-effect waves-light btn-small right orange" do %>
        <i class="material-icons">send</i>
      <% end %>
  <% end %>
  </div>

<% end %>