<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>WeightoDon - スマートな体重記録サイト</title>
  <%= csrf_meta_tags %>

  <!-- Css --->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag  'materialize/materialize', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag  'materialize/style', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag  'mastodon.widget', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <%= javascript_include_tag 'mastodon.widget', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'mastodon.widget-jp', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'materialize/materialize', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'materialize/init', 'data-turbolinks-track': 'reload' %>

  <%= analytics_init if Rails.env.production? %>
</head>

<body>
<%= render 'layouts/navbar' %>

<% if not @welcome.nil? %>
  <%= render 'layouts/flash_messages' %>
  <%= yield %>
<% else %>
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
<% end %>

<%= render 'layouts/footer' %>

</body>
</html>
